<nav class="navbar navbar-expand-lg navbar-dark " style="background: deepskyblue">
    <a class="navbar-brand font-weight-bold" href="#">Meeting-Planner</a>
</nav>

<div class="container-fluid ">
    <div class="row">

        <div class="col-3">
            <!-- empty col -->
        </div>

        <div class="col-md-6 col-sm-12 mt-2">
            <div class="card border-info">
                <div class="card-body">
                    <h5 class="card-title text-success">Update Meeting</h5>
                    <small class="card-text text-muted">Edit forms to update meeting</small>
                    <br><br>

                    <!-- form begins -->
                    <form>
                        <div class="form-group">
                            <label class="sr-only" for="meetingTopic">topic</label>
                            <input type="text" class="form-control" id="meetingTopic" placeholder="Meeting Topic"
                                [(ngModel)]="topic" name="topic">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="description">description</label>
                            <textarea type="text" class="form-control text-justify" id="description"
                                placeholder="Meeting Description" [(ngModel)]="description"
                                name="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="meetingStartDate">Start Date</label>
                            <input id="meetingStartDate" [owlDateTime]="date1" name="startDate" [(ngModel)]="startDate"
                                placeholder="Start Date Time">

                            <span [owlDateTimeTrigger]="date1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <owl-date-time #date1></owl-date-time>

                            <small class="form-text text-muted">Meeting start date</small>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="meetingEndDate">End Date</label>
                            <input id="meetingEndDate" [owlDateTime]="date2" name="endDate" [(ngModel)]="endDate"
                                placeholder="End Date Time">

                            <span [owlDateTimeTrigger]="date2">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <owl-date-time #date2></owl-date-time>
                            <small class="form-text text-muted">Meeting end date</small>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="meetingPlace">meeting place</label>
                            <input [(ngModel)]="meetingPlace" name="meetingPlace" type="text" class="form-control" id="meetingPlace" placeholder="Meeting Place">
                        </div><br>

                        <div class="row justify-content-between">
                            <button class="btn btn-outline-success" (click)="updateMeeting()">Update</button>
                            <button class="btn btn-outline-success" (click)="goBack()">Back</button>
                        </div>
                    </form>
                    <!-- form ends -->
                </div>
            </div>
        </div>

    </div>


</div>