<nav class="navbar navbar-expand-lg navbar-dark " style="background: deepskyblue">
    <a class="navbar-brand font-weight-bold">Meeting-Planner</a>
</nav>

<div class="container-fluid ">
    <div class="row">

        <div class="col-3">
            <!-- empty col -->

        </div>

        <div class="col-md-6 col-sm-12 mt-2">
            <div class="card border-info">
                <div class="card-body">
                    <h5 class="card-title text-success">Create Meeting</h5>
                    <small class="card-text text-muted">Fill forms to create new meeting</small>
                    <br><br>

                    <!-- form begins -->
                    <form>
                        <div class="form-group">
                            <label class="sr-only" for="meetingTopic">Title</label>
                            <input #meetingTopic="ngModel" type="text" class="form-control" id="meetingTopic"
                                placeholder="Meeting Topic" [(ngModel)]="topic" name="topic" required>

                            <!-- title validation -->
                            <div *ngIf="meetingTopic.invalid && (meetingTopic.dirty || meetingTopic.touched)"
                                class="alert alert-danger">

                                <div *ngIf="meetingTopic.errors.required">
                                    Meeeting Topic is required.
                                </div>
                            </div>
                            <!-- title validation end -->
                        </div>

                        <div class="form-group" *ngIf="allUsers">
                            <label class="sr-only" for="nameSelect">select user</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select User
                                </button>
                                <div class="dropdown-menu scrollOnDropdown" aria-labelledby="dropdownMenuButton">
                                    <option class="dropdown-item" *ngFor="let user of allUsers"
                                        (click)="selectFromDropdown(user)">
                                     {{user.userName}}</option>


                                </div>
                            </div>
                            <small class="form-text text-muted">{{selectedUserName}}</small>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="description">description</label>
                            <input type="text" class="form-control" id="description" placeholder="Meeting Description"
                                [(ngModel)]="description" name="description">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="meetingStartDate">Start Date</label>
                            <input id="meetingStartDate" [owlDateTime]="date1" name="startDate" [(ngModel)]="startDate"
                                placeholder="Start Date Time">

                            <span [owlDateTimeTrigger]="date1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <owl-date-time #date1></owl-date-time>

                            <small class="form-text text-muted">Meeting start date</small>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="meetingEndDate">End Date</label>
                            <input id="meetingEndDate" [owlDateTime]="date2" name="endDate" [(ngModel)]="endDate"
                                placeholder="End Date Time">

                            <span [owlDateTimeTrigger]="date2">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <owl-date-time #date2></owl-date-time>
                            <small class="form-text text-muted">Meeting end date</small>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="meetingPlace">meeting place</label>
                            <input type="text" class="form-control" id="meetingPlace" placeholder="Meeting Place"
                                [(ngModel)]="meetingPlace" name="meetingPlace">
                        </div><br>

                        <div class="row justify-content-between">
                            <button class="btn btn-success" (click)="createMeeting()">Create</button>
                            <button class="btn btn-success" (click)="goBack()">Back</button>
                        </div>
                    </form>
                    <!-- form ends -->
                </div>
            </div>
        </div>

    </div>


</div>