<nav class="navbar navbar-expand-lg navbar-dark " style="background: deepskyblue">
    <a class="navbar-brand font-weight-bold" href="#">Meeting-Planner</a>
</nav>

<div class="container-fluid ">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-md-6 col-sm-12 mt-2">
            <div class="card border-info">
                <div class="card-body">
                    <h5 class="card-title text-success">Create Meeting</h5>
                    <small class="card-text text-muted">Fill forms to create new meeting</small>
                    <br><br>

                    <div class="input-group">
                        <form>
                            <div class="form-group">
                                <label class="sr-only" for="meetingTitle">Title</label>
                                <input type="text" class="form-control" id="meetingTitle" placeholder="Meeting Title">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="meetingStartDate">Start Date</label>
                                <input type="date" class="form-control" id="meetingStartDate">

                                <small class="form-text text-muted">Meeting start date</small>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="meetingEndDate">End Date</label>
                                <input type="date" class="form-control" id="meetingEndDate">
                                <small class="form-text text-muted">Meeting end date</small>
                            </div>
                        </form>
                    </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>

    </div>


</div>