#scroller
{
    height: 80vh;
    overflow-y: scroll;
}

#userNameDisplay
{
    width: 20vw
}

.modalLabel
{
    font-weight: bold
}

.modalDescription
{
    padding-left: 6vw
}

.online{

    height: 10px;
    width: 10px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
  }
  
  .offline{
  
    height: 10px;
    width: 10px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
  }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #scroller
    {
        height: 40vh;
        margin-bottom: 1vh
    }

    #userNameDisplay
    {
        width: 80vw;
    }
  }