#scroller
{
    height: 80vh;
    overflow-y: scroll;
}

#userNameDisplay
{
    width: 20vw
}

.modalLabel
{
    font-weight: bold
}

.modalDescription
{
    padding-left: 6vw
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #scroller
    {
        height: 40vh;
        margin-bottom: 1vh
    }

    #userNameDisplay
    {
        width: 80vw;
    }
  }