<nav class="navbar navbar-expand-lg navbar-dark " style="background: deepskyblue">
    <a class="navbar-brand font-weight-bold" href="#">Meeting-Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
        aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" [routerLink]="['/signup']">SignUp <span class="sr-only">(current)
                </span></a>
        </div>
    </div>
</nav>
<br>

<div class="container">
    <h3 class="text-center" style="color: deepskyblue">Sign In to enter</h3><br>
    <div class="row">
        <!-- image -->
        <div class="col-md-4">
            <img class="img-fluid" src="../../../assets/calendar.jpg" alt="image">
        </div>

        <div class="col-md-4 offset-md-2">
            <!-- beginning of signin form -->
            <form #logInForm = "ngForm">
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email" name="email"
                        aria-describedby="emailHelp" placeholder="Enter email" required autofocus>
                    <small id="emailHelp" class="form-text text-muted">Your email will never be shared.</small>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password"
                        name="password" placeholder="Password" (keydown)="loginUsingKeyPress($event)" required>
                </div>

                <button type="button" (click)="logIn()" class="btn btn-outline-info">Sign In</button>
            </form>
            <!-- end of sign in form -->
        </div>

    </div>

</div>